.list {
    list-style: none;
    font-family: "Lucida Sans";
}
.list li {
    position: relative;
    padding: 20px 0 20px 40px;
    color: #D29D25;
    font-variant: small-caps;
    font-weight: bold;
    cursor: pointer;
}
.list li:before {
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #4F5151;
    content: "";
    left: 0;
    transition: .3s ease-in-out;
    top: 27px;
}