/*---Header content---*/
.header{
    padding: 20px 5px;
    margin: 0 10px;
    display: flex;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}


.logo-block{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo{
    width: 50px;
    height: 50px;
}
.logo-text{
    font-size: 24px;
    font-weight: 700;
    font-family: "Proxima Nova Rg", sans-serif;
}

.right-bar{
    display: flex;
    gap: 20px;
}

.header-link{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 3px;
    text-decoration: underline;
    color: black;
}

.header-link:hover{
    text-decoration: none;
}

.singUp{
    text-decoration: none;
    border-radius: 45px;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: #d9d9d9;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
}

.singUp:hover{
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
}

/*---Main content---*/

.wrapper{
    display: flex;
    flex-direction: row;
}

.sidebar-menu{
    width: 20%;
    padding: 20px;
    font-size: 20px;
    font-family: "Proxima Nova Rg", sans-serif;

}
.sidebar-menu__title{
    border-bottom: 2px solid black;
    padding: 10px;
}
.sidebar-menu__items{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-content{
    width: 50%;
    padding: 20px;
    font-size: 35px;
    font-weight: 700;
    font-family: "Proxima Nova Rg", sans-serif;
}
.main-content__category{
    padding: 10px;
}
.product-info{
    margin-top: 120px;
    width: 30%;
    padding: 20px;
    font-size: 20px;
    font-family: "Proxima Nova Rg", sans-serif;
}
.product-description{
    margin-bottom: 20px;
}

.category{
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    height: 100px;
    background-size: 100%;
    color: white;
}

.product-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid black;
    margin: 5px;
    height: 120px;
}

.product-image{
    width: 30%;
    background-size: 100%;
}

.product-text{
    font-size: 40px;
    font-weight: 400;
}
.info-button{
    width: 200px;
    font-size: 20px;
    margin: 10px;
}

.info-bar-button{
    width: 200px;
    font-size: 20px;
}

.basket-item{
    width: 500px;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-img{
    width: 100px;
    height: 50px;
    object-fit: cover;
}

.basket-text{
    font-size: 20px;
    font-weight: 600;
    font-family: "Proxima Nova Rg", sans-serif;
    margin: 0 20px;
    z-index: 2;
}
.basket-block{
    display: flex;
    gap: 10px;
    align-items: center;
    width: 700px;
}

.add-info{
    display: none;
    width: 400px;
    padding: 20px 50px;
    background: lightgrey;
    border-radius: 45px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    gap: 5px;
    overflow: hidden;
}

.add-info-text{
    font-weight: 400;
}